* Basic Regex Expression 
* Home work Week 3

In [8]:
# read a file
import re
with open("faa.txt") as f:
    data = f.read()

In [6]:
len(data)

5574

In [19]:
# we just want to pull out the ID and state
re.findall(r"([A-Z]{3}) .+ ([A-Z]{2})", data)[0:10]

[('DHN', 'AL'),
 ('TCL', 'AL'),
 ('FYV', 'AR'),
 ('TXK', 'AR'),
 ('GEU', 'AZ'),
 ('GYR', 'AZ'),
 ('IFP', 'AZ'),
 ('RYN', 'AZ'),
 ('FUL', 'CA'),
 ('MER', 'CA')]

In [20]:
# we will save above result in faa
faa = re.findall(r"([A-Z]{3}) .+ ([A-Z]{2})", data)

In [21]:
print(faa)

[('DHN', 'AL'), ('TCL', 'AL'), ('FYV', 'AR'), ('TXK', 'AR'), ('GEU', 'AZ'), ('GYR', 'AZ'), ('IFP', 'AZ'), ('RYN', 'AZ'), ('FUL', 'CA'), ('MER', 'CA'), ('OXR', 'CA'), ('RAL', 'CA'), ('RNM', 'CA'), ('SAC', 'CA'), ('SDM', 'CA'), ('SNS', 'CA'), ('VCV', 'CA'), ('WHP', 'CA'), ('WJF', 'CA'), ('BDR', 'CT'), ('DXR', 'CT'), ('GON', 'CT'), ('HFD', 'CT'), ('HVN', 'CT'), ('OXC', 'CT'), ('APF', 'FL'), ('BCT', 'FL'), ('EVB', 'FL'), ('FMY', 'FL'), ('HWO', 'FL'), ('LAL', 'FL'), ('LEE', 'FL'), ('OCF', 'FL'), ('OMN', 'FL'), ('PGD', 'FL'), ('SGJ', 'FL'), ('SPG', 'FL'), ('SUA', 'FL'), ('TIX', 'FL'), ('ABY', 'GA'), ('AHN', 'GA'), ('LZU', 'GA'), ('MCN', 'GA'), ('RYY', 'GA'), ('DBQ', 'IA'), ('IDA', 'ID'), ('LWS', 'ID'), ('PIH', 'ID'), ('SUN', 'ID'), ('ALN', 'IL'), ('BMI', 'IL'), ('DEC', 'IL'), ('MDH', 'IL'), ('UGN', 'IL'), ('BAK', 'IN'), ('GYY', 'IN'), ('HUT', 'KS'), ('IXD', 'KS'), ('MHK', 'KS'), ('OJC', 'KS'), ('TOP', 'KS'), ('OWB', 'KY'), ('PAH', 'KY'), ('DTN', 'LA'), ('BVY', 'MA'), ('EWB', 'MA'), ('LWM', 'MA'), ('ORH', 'MA'), ('OWD', 'MA'), ('ESN', 'MD'), ('FDK', 'MD'), ('HGR', 'MD'), ('MTN', 'MD'), ('SBY', 'MD'), ('BTL', 'MI'), ('DET', 'MI'), ('SAW', 'MI'), ('ANE', 'MN'), ('STC', 'MN'), ('BBG', 'MO'), ('COU', 'MO'), ('GLH', 'MS'), ('HKS', 'MS'), ('HSA', 'MS'), ('OLV', 'MS'), ('TUP', 'MS'), ('GPI', 'MT'), ('EWN', 'NC'), ('HKY', 'NC'), ('INT', 'NC'), ('ISO', 'NC'), ('JQF', 'NC'), ('ASH', 'NH'), ('TTN', 'NJ'), ('AEG', 'NM'), ('SAF', 'NM'), ('ITH', 'NY'), ('RME', 'NY'), ('CGF', 'OH'), ('OSU', 'OH'), ('TZR', 'OH'), ('LAW', 'OK'), ('OUN', 'OK'), ('PWA', 'OK'), ('SWO', 'OK'), ('OTH', 'OR'), ('PDT', 'OR'), ('SLE', 'OR'), ('TTD', 'OR'), ('CXY', 'PA'), ('LBE', 'PA'), ('LNS', 'PA'), ('CRE', 'SC'), ('GYH', 'SC'), ('HXD', 'SC'), ('MKL', 'TN'), ('NQA', 'TN'), ('BAZ', 'TX'), ('BRO', 'TX'), ('CLL', 'TX'), ('CNW', 'TX'), ('CXO', 'TX'), ('GTU', 'TX'), ('HYI', 'TX'), ('RBD', 'TX'), ('SGR', 'TX'), ('SSF', 'TX'), ('TKI', 'TX'), ('TYR', 'TX'), ('VCT', 'TX'), ('OGD', 'UT'), ('PVU', 'UT'), ('LYH', 'VA'), ('OLM', 'WA'), ('RNT', 'WA'), ('SFF', 'WA'), ('TIW', 'WA'), ('YKM', 'WA'), ('CWA', 'WI'), ('EAU', 'WI'), ('ENW', 'WI'), ('JVL', 'WI'), ('LSE', 'WI'), ('MWC', 'WI'), ('OSH', 'WI'), ('UES', 'WI'), ('HLG', 'WV'), ('LWB', 'WV'), ('PKB', 'WV')]

In [23]:
print(data[0:500])

FAA Contract Tower Closure List
(149 FCTs)
3-22-2013
LOC
ID Facility Name City State
DHN DOTHAN RGNL DOTHAN AL
TCL TUSCALOOSA RGNL TUSCALOOSA AL
FYV DRAKE FIELD FAYETTEVILLE AR
TXK TEXARKANA RGNL-WEBB FIELD TEXARKANA AR
GEU GLENDALE MUNI GLENDALE AZ
GYR PHOENIX GOODYEAR GOODYEAR AZ
IFP LAUGHLIN/BULLHEAD INTL BULLHEAD CITY AZ
RYN RYAN FIELD TUCSON AZ
FUL FULLERTON MUNI FULLERTON CA
MER CASTLE ATWATER CA
OXR OXNARD OXNARD CA
RAL RIVERSIDE MUNI RIVERSIDE CA
RNM RAMONA RAMONA CA
SAC SACRAMENTO EXECU

In [47]:
# so our task is to find out the number of closers.
num_closures = int(re.search(r'\((\d+) FCTs\)', data).group(1))

In [48]:
assert(len(faa) == num_closures)

# Home work Assignment Number 2

In [49]:
with open("reputation.txt") as f:
    data = f.read()

In [55]:
print(data)

total votes: 36
 2  12201376 (5)
-- 2012-08-30 rep +5    = 6
 2  13822612 (10)
-- 2012-12-11 rep +10   = 16
 2  13822612 (10)
-- 2013-03-20 rep +10   = 26
-- 2013-12-05 rep 0     = 26
-- 2014-01-25 rep 0     = 26
 16  7141669 (2)
-- 2014-03-19 rep +2    = 28
 1  12202249 (2)
-- 2014-05-11 rep +2    = 30
 16 23599806 (2)
 2  23597220 (10)
-- 2014-05-12 rep +12   = 42
 2  13822612 (10)
-- 2014-06-12 rep +10   = 52
 2  23597220 (10)
-- 2014-06-26 rep +10   = 62
-- 2014-07-05 rep 0     = 62
-- 2014-09-02 rep 0     = 62
 2  23597220 (10)
-- 2014-09-03 rep +10   = 72
-- 2014-10-28 rep 0     = 72
 2  23597220 (10)
-- 2014-11-14 rep +10   = 82
 16 12107971 (2)
-- 2014-11-18 rep +2    = 84
 16  3621018 (2)
-- 2014-12-08 rep +2    = 86
 2  23597220 (10)
-- 2014-12-09 rep +10   = 96
 16 16328613 (2)
-- 2014-12-12 rep +2    = 98
 2  23597220 (10)
-- 2014-12-24 rep +10   = 108
-- 2015-02-03 rep 0     = 108
 2  23597220 (10)
-- 2015-02-20 rep +10   = 118
 2  23597220 (10)
-- 2015-03-28 rep +10   = 128
 2  23597220 (10)
-- 2015-04-26 rep +10   = 138
 2  13822612 (10)
-- 2015-05-05 rep +10   = 148
 2  23597220 (10)
-- 2015-05-26 rep +10   = 158
 2  23597220 (10)
 2  23597220 (10)
-- 2015-05-27 rep +20   = 178
-- 2015-06-09 rep 0     = 178
 2  23597220 (10)
-- 2015-07-03 rep +10   = 188
-- 2015-07-06 rep 0     = 188
 2  23597220 (10)
-- bonuses   (100)
-- 2015-07-22 rep +110  = 298
 2  23597220 (10)
-- 2015-08-21 rep +10   = 308
 2  23597220 (10)
-- 2015-09-07 rep +10   = 318
 3   1839257 (-1)
-- 2015-10-14 rep -1    = 317

** rep today: 0
** rep this week (2015-11-08 - 2015-11-14): 0
** rep this month (2015-11-01 - 2015-11-30): 0
** rep this quarter (2015-10-01 - 2015-12-31): -1
** rep this year (2015-01-01 - 2015-12-31): 109
** rep from bonuses: 100
** total rep 317 :)

days represented 34
rep cap was reached via rep from upvotes *only* on 0 days
earned at least 200 reputation on 0 days
earned 10 reputation from suggested edits

In [80]:
# match all the details
re.findall(r"(\d{4}-\d{2}-\d{2}) rep ([+-]?\d+) += (\d+)", data)[0:10]

[('2012-08-30', '+5', '6'),
 ('2012-12-11', '+10', '16'),
 ('2013-03-20', '+10', '26'),
 ('2013-12-05', '0', '26'),
 ('2014-01-25', '0', '26'),
 ('2014-03-19', '+2', '28'),
 ('2014-05-11', '+2', '30'),
 ('2014-05-12', '+12', '42'),
 ('2014-06-12', '+10', '52'),
 ('2014-06-26', '+10', '62')]

In [82]:
ree = re.findall(r"(\d{4}-\d{2}-\d{2}) rep ([+-]?\d+) += (\d+)", data)

In [91]:
# convert to dataframe
import pandas as pd
col = ["Date", "Points", "Current_points"]
data = pd.DataFrame(ree, columns=col)
data.head()

         Date Points Current_points
0  2012-08-30     +5              6
1  2012-12-11    +10             16
2  2013-03-20    +10             26
3  2013-12-05      0             26
4  2014-01-25      0             26

In [92]:
data.shape

(34, 3)

* so we have converted raw text into the Dataframe